extends layout
block content
    h1= How it works
    p We will try to get all documents (jpg, pdf, etc, etc) from the domain you specify, and scan them for data. Resources are limited, so please use wisely.
    p By <a href="//jplusplus.org" rel="me">J++</a>
