extends layout
block content
  .SearchWidget.widget(data-widget="janus.SearchWidget")
    .row-fluid.search-bar.header 
      h1= title
      p Welcome to Janus. Please enter a domain to scan for files.

      form.form-search
        input.search-query.span4(type="text", placeholder="ex:worldbank.org")
        button.btn.do(href="#", data-action="search")
          | Search&nbsp;
          i.icon-search

    .row-fluid.search-results
      .result-holder
        table.table.table-striped
          tr.header 
            th Filename
            th Type
            th Author
            th Tags
            th Software
            th 

          tr.template.result.hidden
            td.out.filename
            td.out.type
            td.out.person
            td.out.tags
            td.out.software
            td.link
              a(href)
                | Remote File &nbsp;
                i.icon-download

          tr.template.empty-results.hidden 
            td(colspan=5)
              | We couldn't find any document on your domain, please try another one
