extends layout
block content
  .SearchWidget.widget(data-widget="dfw.SearchWidget")
    .row-fluid.search-bar
      h1= title
      p Welcome to #{title}. Please enter a domain. 

      form.form-search
        input.search-query.span4(type="text", placeholder="ex:jplusplus.org")
        button.btn.do(href="#", data-action="search")
          | Search&nbsp;
          i.icon-search

    .row-fluid.search-results
      .result-holder
        pre
