body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container-fluid {
    width: 95%;
}

a {
  color: #00B7FF;
}
.template {
  display: none;
}

.results-holder {
  position: relative;
}

.js-loading:after{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0.3, 0.3, 0.3, 0.7);
  content: "Loading";
  color: white;
  font-size: 2em;
}


